@model AccessControlModels.Reader
<section class="content-header">
    <h1>
        Readers
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Reader</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="Create">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Description" placeholder="Description" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <h4>Current room</h4>
                <div class="form-group">
                    @foreach (var room in ViewBag.AllRooms)
                    {
                        <input type="radio" name="currentRoomId" value="@room.Id" />@room.ToString() <br />
                    }
                    <input type="radio" name="currentRoomId" value="-1" />Outdoors<br />
                </div>
                <h4>Next room</h4>
                <div class="form-group">
                    @foreach (var room in ViewBag.AllRooms)
                    {
                        <input type="radio" name="nextRoomId" value="@room.Id" />@room.ToString() <br />
                    }
                    <input type="radio" name="nextRoomId" value="-1" />Outdoors<br />
                </div>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <!--
                       <button onclick="window.history.back()">Cancel</button>
                -->
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

