@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AccessControl.ViewModels.ChangePasswordViewModel
<section class="content-header">
    <h1>
        Account
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Change password</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" asp-controller="Account" asp-action="ChangePassword">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="OldPassword"></label>
                    <div class="col-sm-10">
                        <input asp-for="OldPassword" />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="NewPassword"></label>
                    <div class="col-sm-10">
                        <input asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <input class="btn btn-info pull-left" type="submit" value="Save" />
                    </div>
                    <div class="col-sm-10">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

